{
	"plugins": [
		[
			"module-resolver",
			{
				"root": [
					"./src"
				],
				"alias": {
					"@": "./src",
					"$components": "./src/shared/components"
				}
			}
		],
		["@babel/plugin-proposal-decorators", { "legacy": true }],
	]
}